bodu,table,td,div,p,form,span,input { font-size:12px; font-family:"ו";}
form {
    margin: 0;
}

p {
    text-align: center;
}

#main {
	width: 300px;
	height:300px;
	position: absolute;
	left:250px;
	top:120px;
	background-color: #F5F7FF;
	text-align: left;
	z-index:5;
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, color=#C0C0C0);
	filter: Alpha( opacity = 90 );
}
/* filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, color=#C0C0C0); */
.dragclass {
	left:250px;
	top:120px;}

#dialogHead {
    height:20px;
	text-align: right;
    padding-bottom: 0px;
    border:none;
    border-bottom: 1px solid #516489;
    cursor: move;
	background:#C6CEEE url('/extcomponent/ui/skin/bizfocus/images/dialogHead_bg01.gif') repeat-x right top;
}

#dialogHead a:link, #dialogHead a:visited, {
    font-size: 14px;
    font-weight: bold;
    padding: 0 3px
}

#tipLabel {
    float: left;
	height:100%;
    text-align: left;
	font-weight:bold;
	color:#263655;	
    padding-left:15px;
	line-height:26px;
	padding-top:0px;
	background:url('/extcomponent/ui/skin/bizfocus/images/dialogHead_bg02.gif') repeat-x left top;
}

.window_button { float:right;height:100%; width:80px; text-align:right;padding-top:5px; padding-right:10px; cursor:hand;}

#dialogBody {
    border: 1px solid #7A88A4;
    border-top: none;
    padding: 2px;
    height: 100%;
}

#formArea {
    padding: 0px
}

#MSG {
    text-align: center;
    color: red;
}

#table2 { width:100%; height:100%; background-color:#;}
#table2 td { vertical-align:top; line-height:20px;}
#commonDiv { width:100%; height:100%; visibility: ;z-index:2;}


